.nav-container {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #2A9DF4;
  height: 6rem;
  width: 100vw;
  justify-content: space-evenly; 
}

.nav-logo {
  display: flex;
 position: absolute;
 left: 0;
}



.nav-logo-text {

 color: #2A9DF4;
 padding-top: 3vh;

}

.nav-logo-img {
  
  height: 10vh;
  width: 10vh;
 }



li{
  list-style: none;
  
  padding: 1vw;
}
.login-button{
position: absolute;
right: 0;
margin-top: 10px;
display: flex;
align-items: center;
}
.nav-link{
  
  
  font-size: small;
  border: #2a9df4 2px solid;
  border-radius: 10px;
  background-color: white;
  font-family: Helvetica-Bold;
  color: #2a9df4;
  text-decoration: none;
 
  justify-content: right;
  
}
ul{
  display: flex;
  flex-direction: row;

}
#profile
{ font-size: small;
  padding-left: 3vh;
   padding-right: 3vh;
   padding-top: .5vh;
   padding-bottom: .5vh}
#login{
  font-size: small;
padding-left: 3vh;
 padding-right: 3vh;
 padding-top: .5vh;
 padding-bottom: .5vh
}


/*button {
  
  justify-content: right;
  box-sizing: border-box;
  width: 50%;
  height: 35%;
  color: #2A9DF4;
  background: #FFFFFF;
  border-radius: 20px;
 
}*/
#logout{
 font-size: small;
padding-left: 3vh;
 padding-right: 3vh;
 padding-top: .5vh;
 padding-bottom: .5vh;
}



