input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-main{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.add-proj-modal-back{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 35vw;
    border-radius: 1rem;
    background-color: #eff0f0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.close-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.close-btn{
  background-color: transparent;
  border: none;
  cursor:  pointer;
  font-size: 1.8rem;
  color: var(--BlueFin);
  padding: .2rem;
  padding-bottom: 7rem;
  margin-left: 20px;
  margin-bottom: 20px;
}

.modal-container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 40vh;
}

.add-proj-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  padding-left: 1rem;
}

.proj-form-btn{
  align-self: center;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  margin-right: 20px;
  margin-top: 20px;
  padding: .8rem;
  width: 8.5rem;
  height: 3rem;
  border: 1px solid var(--BlueFin);
  font-family: 'Exo 2', sans-serif;
  border-radius: 8px;
}