.feed-container {
  height: 100vh;
  width: 100%;
  margin-top: 10em;
  position: relative;
}
.projects-container {
  color: white;

  /* background-color: yellow; */
}

.projects-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.feed-title {
  width: 5em;
  margin-left: 4em;
  position: relative;
}
.project-container {
  background-color: #4056a1;
}
.buttons {
  padding: 0.6em;
  margin-right: 0.5em;
}
#add-projects {
  padding: 0.5em;
  width: 10em;
}
.buttons:hover {
  background-color: #4056a1;
  color: white;
}
#add-projects:hover {
  background-color: #4056a1;
  color: white;
}
