/* 

.profile-screen-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */

/* #add-proj-btn{
  align-self: center;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  margin-right: 20px;
  margin-top: 20px;
  padding: .8rem;
  width: 10rem;
  border: 1px solid var(--BlueFin);
  font-family: 'Exo 2', sans-serif;
  border-radius: 8px;
} */
