/*STYLING FOR LANDING PAGE*/
.landing-input {
  border-style: solid;
  border-color: blue;
  width: 25em;
  height: 3em;
  padding: 0.2em 0.2em 0.2em 1.5em;
  margin: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  color: #4056a1;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

#landing-image {
  border-radius: 18px;
}

.title {
  font-size: 2em;
  font-weight: 300;
}

.title-container {
  margin-bottom: 1.3em;
  word-spacing: 0.2em;
}

.signup-button:hover {
  background-position: left bottom;
  transition: ease-out 0.3s;
}
.landing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
