.project-container{
  display: flex;
  justify-content: center;
}

.project-component{
  justify-self: center;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  width: 60%;
  height: 8rem;
  margin-top: 2rem;
  border: 2px solid #2a9df4;
  border-radius: 1rem;
  font-family: sans-serif;
  padding: 1rem;
}