.error-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50em;
  color: blue;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
